// fazer a ligação no head lá no index e apeertar link css
//seletores: propriedade: valores < base da estilização 

header {
    background-color: rgb(248, 139, 157) ;

}
img {
    width: 300px;
}
body {
    background-color: pink;
}